body {
  background-color: #f6f6f6;
}

.panel-body {
  display: table;
  padding: 0;
}

.photo {
  float: left;
  margin-right: 30px;
}

.photo img {
  width:20%;
  height: 20%;
  margin-left: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
  overflow: hidden;
  font-size: 15px
}

ul li {
  float: left;
  position: relative;
  padding: 5px;
  background-color: #EEE;
  cursor: pointer;
  margin: .5em;
  padding: .2em;
  border-radius: 4px;
}

ul li span:hover {
  background-color: #BBD8DC !important;
  color: white;
}

ul li span.isSelected {
  background-color: #BBD8DC !important;
  color: white;
}

.photo .isHidden {
  visibility: hidden;
  opacity: 0;
  width: 0%;
  height: 0%;
  margin-left: 0em;
  transition: visibility 1s, opacity 1s, width 1s, height 1s, margin-left .5s;
  -webkit-transition: visibility 1s, opacity 1s, width 1s, height 1s, margin-left .5s;
}

.photo .isVisible {
  visibility: visible;
  opacity: 1;
  width: 20%;
  height: 20%;
  margin-left: 1em;
  transition: visibility 1s, opacity 1s, width 1s, height 1s, margin-left .5s;
  -webkit-transition: visibility 1s, opacity 1s, width 1s, height 1s, margin-left .5s;
}
